

.box1{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    color: #1f1f1f;
    border: none;
}

.box2{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    color: #1f1f1f;
    border: none;
}