body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(32, 32, 32);
}

.box{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px black;
  background: linear-gradient(to right, rgb(0, 255, 0), green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-align: center;
}