
body{
    background-color: #1f1f1f;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.box{
    width: 150px;
    height: 150px;
    background: linear-gradient(to left, rgb(255, 255, 160), rgb(255, 255, 120), rgb(255, 255, 80), rgb(255, 255, 40), yellow, rgb(187, 187, 0));
    border-radius: 10%;
}